@import '_graphics';
@import 'route_application';
@import 'route_index';
@import 'route_app';
@import 'route_app_settings';
@import 'template_top-nav';
@import 'template_project-explorer';
@import 'template_action-panel';
@import 'template_messenger';
@import 'component_explorer-entity';
@import 'component_document-explorer';
@import 'component_document-editor';

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  background-color: rgba(0,0,0,.0);
  width: 100%;
  height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans';
  font-weight: 100;
  box-sizing: border-box;
}

.clearfix {
  clear: both; 
}

// graphic size specs 
.urgnot {
  background-size: contain;
  background-repeat: no-repeat;
}
.urgnot.flex {
  width: 100%;
  height: 100px;
}
.urgnot.small {
  width: 50px;
  height: 100px;
}
.urgnot.large {
  width: 150px;
  height: 310px;
}
.icon-cog {
  background-size: contain;  
  background-repeat: no-repeat;
}
.icon-cog.green {
  background-image: url('images/gear-blanked.svg');
}
.icon-cog.red {
  background-image: url('images/gear-blanked-hover.svg');
}
.icon-cog.large {
  width: 100%;
}


// font sizes and classes
h1 {
  font-size: 35px;
}
h2 {
  font-size: 25px;
}
h2.page-header {
  height: 43px;
  padding: 4px;
  text-align: center;
  background-color: rgba(0,100,0,.5);
  color: #fff;
}
h2.page-header.active.action:hover {
  cursor: pointer;
  background-color: rgba(0,100,0,.6);
}

// actions
.action:hover {
  cursor: pointer;
}

// disables ugly highlighting on form input focus
input:focus, button:focus, textarea:focus {
    outline-width: 0;
}

// general
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
