$transitionLength: .7s; // .7s

// Admin styles
.project-explorer .explorer-wrapper.is-admin {
  .explorer {
    .is-root.no-valid-root-node {
      background-color: rgba(0,100,0,.6);
      .create-root {
        padding: 0% 28%;
        font-size: 18vw;
        color: #fff;
      }
      .create-root:hover {
        color: #a00;
        cursor: pointer;
      }
      .create-root-form {
        width: 100%;
        padding: 10% 10% 0px 10%;
        box-sizing: border-box;
        input {
          padding: 10%;
          font-size: 2vw;
          width: 100%;
        }
        input.name {
          border-radius: 6px;
          border: 1px solid #ccc;
          color: rgba(0,100,0,.8);
          margin-top: 20%;
        }
        input.submit {
          border-radius: 100%;
          border: none;
          background: none;
          color: #a00;
          transition: color .3s;
          margin-top: 10%;
        }
        input.submit:hover {
          color: #800;
          cursor: pointer;
        }
      }
    }
    .content {
      form.create-node {
        top: 10%;
        left: 150%;
      }
      form.create-task {
        top: 10%;
        left: 250%;
      }
      form {
        position: absolute;
        border: 1px solid #aaa;
        border-radius: 6px;
        padding: 10px;
        with: 200px;
        h6 {
          font-size: 23px;
          color: #111 !important;
        }
        button[type='submit'], input {
          padding: 10px;
          border: 1px solid #ccc;
          background-color: #fff;
          color: #a00;
          border-radius: 6px;
          font-size: 12px;
        }
        button[type='submit']:hover {
          color: #fff;
          background-color: #a00;
          cursor: pointer;
          border-color: #a00;
        }
      }
    }
  }
}

.project-explorer {
  width: 40%;
  height: 100%;
  position: relative;
  float: left;
  transition: none $transitionLength;

  .explorer-wrapper {
    width: 100%; 
    height: calc(100% - 43px);
    float: left;
    position: relative;
    overflow: hidden; // prevent overlapping other app ui
    .explorer {
      width: 100%;
      height: 40vw;
      min-height: 300px;
      position: relative;
    }
  }

  // class applied if node is on layer 2
  .actionable {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
  }

  .scale-down > .content{
    transform: scale3d(.4,.4,0);
    -webkit-transform: scale3d(.4,.4,0);
  }

  .node {
    opacity: 0;
  }

  .node.layer-1, .node.layer-2, .node.parent-blur {
    opacity: 1;
  }

  .content.background-image {
    border-radius: 100%;
  }

  // entity type specific styles
  .node.layer-1 {
    > .content.type-star > .inner > .name {
      color: #08d;
      background: none;
    }
    > .content.type-planet > .inner > .name, 
    > .content.type-moon > .inner > .name {
      color: #fff;
    }
    > .content.type-crater > .inner > .name {
      color: #0ad;
    }
    > .content > .inner > .name {
      background-color: rgba(0,0,0,.3);
    }
  }
  .node.layer-1, .node.layer-2 {
    .content.background-image.type-star {
      -webkit-filter: brightness(123%) contrast(138%) opacity(100%);
      filter: brightness(123%) contrast(138%) opacity(100%);
      background-image: url("images/sun_icon_650.png");
    }
    .content.background-image.type-planet {
      background-image: url("images/mars_icon_650.png");
    }
    .content.background-image.type-earth {
      background-image: url("images/earth_icon_650.png");
    }
    .content.background-image.type-jupiter {
      background-image: url("images/jupiter_icon_650.png");
    }
    .content.background-image.type-planet:last-of-type {
      background-image: url("images/earth_icon_650.png");
    }
    .content.background-image.type-moon {
      background-image: url("images/moon_icon_650.png");
    }
    .content.background-image.type-crater {
      background-image: url("images/asteroid_icon_650.png");
    }
    .content {
      // border: 1px solid rgba(0,0,0,.1);
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }

  .node.layer-2 > .content.background-image {
    -webkit-filter: opacity(100%) brightness(120%);
    filter: opacity(100%) brightness(120%);
  }
  .node.layer-1 > .content.background-image {
    -webkit-filter: opacity(65%) brightness(120%);
    filter: opacity(65%) brightness(120%);
  }

  .node{
    position: absolute;
    margin-top: 80%;
    margin-left: 20%;
  }
  .node .content {
    position: absolute;
    opacity: 0;
    border: none;
  }

  .node, .content {
    width: 0%;
    height: 0%;
    top: 0%;
    left: 0%;
  }

  .node {
    transition: width $transitionLength, height $transitionLength, top $transitionLength, left $transitionLength, opacity $transitionLength, margin $transitionLength, background-color $transitionLength, transform $transitionLength, border $transitionLength;
  }
  .content.background-image {
    // transition: -webkit-filter $transitionLength, width $transitionLength, height $transitionLength !important;
  }
  .content {
    transition: filter $transitionLength, -webkit-filter $transitionLength, box-shadow .2s, width $transitionLength, height $transitionLength, top $transitionLength, left $transitionLength, opacity $transitionLength, margin $transitionLength, background-color $transitionLength, transform $transitionLength, border $transitionLength;
  }
  .layer-2 > .content {
    transition: box-shadow .2s, top $transitionLength, left $transitionLength, opacity $transitionLength, margin $transitionLength, background-color $transitionLength, transform $transitionLength, border $transitionLength;
  }
  .allow-content-transition > .content {
    transition: box-shadow .2s, width $transitionLength, height $transitionLength, top $transitionLength, left $transitionLength, opacity $transitionLength, margin $transitionLength, background-color $transitionLength, transform $transitionLength, border $transitionLength;
  }


  .node.layer-2 > .content {
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0);
    > .inner > .name {
      background-color: rgba(0,0,0,.2);
      padding: .3vw 1vw .3vw 1vw;
      width: 100%;
      margin-top: .6vw;
    }
  }
  .node.layer-2:hover {
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.9));
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.9));
  }






  // properties to retain on top level
  .node.parent-blur {
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    margin: 0%;
  }
  .node.parent-blur > .content {
    height: 100%;
    width: 100%;
    opacity: 1;
  }
  .node.parent-blur > .content.background-image {
    -webkit-filter: opacity(0%);
    filter: opacity(0%);
  } 
  // origin - star layer
  .node.layer-1 {
    top: 50%;
    margin-top: -30%;
    left: 50%;
    margin-left: -30%;
    width: 60%;
    height: 60%;
    .content {
      width: 100%;
      height: 100%;
      opacity: 1;
      .inner {
        height: 100%;
        border-radius: 100%;
        overflow: hidden;
        .inner-content {
          .tasks {
            padding: 0px 2vw 2vw 2vw;
            .task.empty {
              .name:hover {
                background: none;
                color: inherit;
                cursor: default;
              }
            }
            .task.active > .name {
              background-color: rgba(0,0,0,.2);
              border-radius: 3px;
              cursor: pointer;
              color: #fefefe;
            }
            .task {
              height: 100%;
              float: left;
              width: 20vw;
              margin-bottom: 10px;
              .checkbox {
                width: 2.6vw;
                height: 2.6vw;
                background-color: rgba(0,0,0,.3);
                border-radius: 3px;
                float: left;
              }
              .name {
                padding: 6px 6px 6px 10px;
                float: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 15vw;
                font-size: 1.1vw;
                height: 2.6vw;
                margin-left: 10px;
              }
              .name:hover {
                background-color: rgba(0,0,0,.2);
                border-radius: 3px;
                cursor: pointer;
                color: #fefefe;
              }
            }
          }
        }
      }
    }
  }
  // origin - planet layer
  .node.layer-2 {
    width: 33.2%;
    height: 166.5%;
    top: -33.2%;
    left: 50%;
    margin-left: -17.5%;
    margin-top: 0%;
    pointer-events: none;
  }
  .node.layer-2 > .content {
    padding: 0px;
    width: 80%;
    height: 16%;
    top: 2%;
    left: 10%;
    opacity: 1;
    pointer-events: all;
  }
  .layer-2 .content > .node .content {
    width: 80%;
    height: 16%;
  }



  .inner > .name {
    transition: all $transitionLength;
    text-align: center;
    font-family: 'Open Sans';
    color: rgba(0,0,0,0);
    padding: 2vw;
  }
  .layer-2 > .content > .inner > .name, .layer-1 > .content > .inner > .name {
    color: rgba(250,250,250,1);
  }
  .layer-2 > .content > .inner > .name {
    width: 100%;
    text-overflow: ellipsis;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.1vw;
    padding: 1.3vw .5vw;
    font-weight: 100;
  }
  .layer-1 > .content > .inner > .name {
    font-size: 2.2vw;
    line-height: 2vw;
    padding: 1vw 2vh;
    font-weight: 100;
    margin: 1.5vw 0vw;
  }
  // @media all and (max-width: 780px) {
  //   .layer-2 > .content > .text {
  //     font-size: 9.2px;
  //     padding: 10.3px 5px;
  //     font-weight: 100;
  //   }
  //   .layer-1 > .content > .text {
  //     font-size: 31.3px;
  //     padding: 23.5px 15.5px;
  //     font-weight: 100;
  //   }
  // }




}


