.document-explorer {
  height: 100%;
  .document-list {
    height: 100%;
    width: 20%;
    box-sizing: border-box;
    float: left;
    .document.inactive:hover {
      cursor: pointer;
      background-color: #ddd;
    }
    .document.active {
      background-color: #ddd;
    }
    .document {
      width: 100%;
      padding: 10px;
      background-color: #fff;
      border-left: 2px solid #ddd;
      margin-bottom: 5px;
      .name {
        font-size: 17px;
        padding: 0px 0px 5px 0px;
      }
      .content-preview {
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
      }
    }
  }
}
