// variables
$transitionLength: .60s;

// styles
.project-explorer {
  width: 100vw;
  height: 100vw;
  background-color: rgba(0,0,0,.1);
  position: relative;
}
// persistent style on wrappers and their contents 
.wrapper {
  position: absolute;
  // transform: rotate(45deg);
  margin-top: 80%;
  margin-left: 20%;
}
.content {
  position: relative;
  opacity: 0;
}
.wrapper, .content {
  border-radius: 100%;
  transition: width $transitionLength, height $transitionLength, top $transitionLength, left $transitionLength, opacity $transitionLength, margin $transitionLength, background-color $transitionLength, transform $transitionLength;
  width: 0%;
  height: 0%;
  top: 0%;
  left: 0%;
}
.project-explorer {
  // properties to retain on top level
  .top-wrapper {
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    margin: 0%;
  }
  .top {
    height: 100%;
    width: 100%;
    opacity: 1;
  }
  // origin - star layer
  .layer-1-wrapper {
    top: 50%;
    margin-top: -30%;
    left: 50%;
    margin-left: -30%;
    width: 60%;
    height: 60%;
  }
  .layer-1 {
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  // origin - planet layer
  .layer-2-wrapper {
    width: 33.2%;
    height: 166.5%;
    top: -33.2%;
    left: 50%;
    margin-left: -17.5%;
    margin-top: 0%;
  }
  .layer-2 {
    background-color: rgba(0,0,0,.1);
    padding: 0px;
    width: 80%;
    height: 16%;
    top: 2%;
    left: 10%;
    opacity: 1;
  }
  // origin - moon layer
  // .layer-3-wrapper {
  //   height: 166.5%;
  //   width: 33.2%;
  //   top: -33.2%;
  //   left: 50%;
  //   margin-left: -16.6%;
  //   opacity: .05;
  // }
  // layer wrapper orders for use in rotations (irrelevant)
  .layer-2-wrapper.order-1 {
    transform: rotate(45deg);
    .content {
      transform: rotate(-45deg);
    }
  }
  .layer-2-wrapper.order-2 {
    transform: rotate(90deg);
    .content {
      transform: rotate(-90deg);
    }
  }
  .layer-2-wrapper.order-3 {
    transform: rotate(135deg);
    .content {
      transform: rotate(-135deg);
    }
  }
  .layer-2-wrapper.order-4 {
    transform: rotate(180deg);
    .content {
      transform: rotate(-180deg);
    }
  }
  .layer-2-wrapper.order-5 {
    transform: rotate(225deg);
    .content {
      transform: rotate(-225deg);
    }
  }
  .layer-2-wrapper.order-6 {
    transform: rotate(270deg);
    .content {
      transform: rotate(-270deg);
    }
  }
  .layer-2-wrapper.order-7 {
    transform: rotate(315deg);
    .content {
      transform: rotate(-315deg);
    }
  }
  .layer-2-wrapper.order-8 {
    transform: rotate(0deg);
    .content {
      transform: rotate(0deg);
    }
  }
  .focused {
    background-color: rgba(0,200,0,.5) !important;
  } 
  .focused-2 {
    background-color: rgba(0,0,200,.5) !important;
  } 
}

// General purpose explorer content styles
.text {
  transition: all $transitionLength;
}
.layer-2 > .text {
  font-size: 90%;
  text-align: center;
  padding: 10%;
  font-family: 'Open Sans';
  font-weight: 100;
  color: #fff;
}
.layer-1 > .text {
  font-size: 150%;
  text-align: center;
  padding: 20% 10%;
  font-family: 'Open Sans';
  font-weight: 100;
  color: #fff;
}
