.top-nav {
  width: 5%;
  box-sizing: border-box;
  height: 100%;
  padding: 1%;
  background-color: rgba(0,100,0,.6);
  float: left;
  overflow: hidden;
  border-right: 1px solid rgba(0,100,0,.6);
  .nav-item.urgnot {
    margin-bottom: 40px;
  }
  .nav-item {
    width: 100%;
    min-height: 50px;
    padding-top: 20px;
    display: block;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 20px;
  }
  .nav-item:hover {
    opacity: .7;
  }
  .settings.nav-item {
    background-image: url('images/gear-blanked.svg');
    height: auto;
  }
  .settings:hover {
    background-image: url('images/gear-blanked-hover.svg');
  }
  .sign-out {
    background-image: url('images/icon-power-on.svg');
  }
  .sign-out:hover {
    background-image: url('images/icon-power-off.svg');
  }
}

