.messenger {
  width: 275px;
  height: 400px;
  position: absolute;
  bottom: 0px;
  right: 5%;
  background-color: rgba(0,124,165,.7);
  .header {
    height: 50px;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #fff;
    color: #fefefe;
    background-color: rgba(0,124,165,.8);
  }
  .body {
    height: calc(100% - 50px);
    overflow: scroll;
    width: 100%;
    .threads, .messages {
      position: relative;
      transition: all .7s;
      width: 275px;
      float: left;
    }
    .threads {
      .thread {
        padding: 10px;
        border-top: 1px solid #fff;
        .name {
          font-weight: bold;
        }
      }
    }
    .threads.show {
      left: 0px;
    }
    .threads.hide {
      left: -275px;
    }
    .messages.show {
      
    }
  }
}
