.messenger {
  width: 275px;
  height: 400px;
  position: absolute;
  bottom: 0px;
  right: 5%;
  background-color: rgba(0,124,165,.7);
  .header {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #fff;
    color: #fefefe;
    background-color: rgba(0,124,165,.8);
  }
  .body {
    .threads {
      .thread {
        padding: 10px;
        border-top: 1px solid #fff;
        .name {
          font-weight: bold;
        }
      }
    }
  }
}
