.action-panel {
  width: 55%;
  height: 100%;
  float: left;
  h2 {
    height: 43px;
    text-align: center;
    padding: 4px;
    border-bottom: 1px solid #aaa;
    background-color: rgba(0,0,0,.1);
  }
}


