<p>This is the settings route!</p>
<p><u>Settings</u></p>
<ul>
  <li>uid: {{model.uid}}</li>
  <li>name: {{model.name}}</li>
  <li>email: {{model.email}}</li>
  <li>type: {{model.type}}</li>
</ul>

  <!--  -->
  <!--  -->
  <!-- uid: DS.attr('string'), -->
  <!-- name: DS.attr('string'), -->
  <!-- email: DS.attr('string'), -->
  <!-- type: DS.attr('string'), -->
  <!-- endAffiliations: DS.hasMany('organization', {inverse: 'endUsers'}), -->
  <!-- adminAffiliations: DS.hasMany('organization', {inverse: 'adminUsers'}), -->
  <!-- tags: DS.belongsTo('tag'), -->
  <!-- projects: DS.hasMany('project', {inverse: 'author'}), -->
  <!-- collaborations: DS.hasMany('project', {inverse: 'collaborators'}) -->
