<h2 class='page-header'>Settings</h2>

<div class='container'>
  <div class='left'>
    <div class='icon-cog-wrapper'>
      <div class='icon-cog red large'></div>
    </div>
    <div class='nav'>
      <ul>
        {{#link-to 'app.settings.index' tagName='li' class='link'}}My Profile{{/link-to}}
        {{#link-to 'app.settings.projects' tagName='li' class='link'}}Projects{{/link-to}}
        {{#link-to 'app.settings.organizations' tagName='li' class='link'}}Organizations{{/link-to}}
      </ul>
    </div>
    <div class='clearfix'></div>
  </div>
  {{outlet}}
  <div class='clearfix'></div>
</div>
