<div class='messenger'>
  <div class='header'>
    <h3>Messenger</h3>
  </div>
  <div class='body'>
    <div class='row {{data.type}}'>({{model.email}})</div>
    <div class='row'>{{data.body}} :: #{{updates}}</div>
  </div>
</div>
