<div id='menu'>
  <div {{action 'back'}} class='active button'>Back</div>
  <div {{action 'home'}} class='active button'>Home</div>
  <div {{action 'current'}} class='active button'>Current</div>
</div>

<div class='explorer-wrapper'>
  <div class='explorer'>
    {{explorer-entity nodeModel=model nodeIndex=0 isRoot=true}}
  </div>
</div>
