<div id='menu'>
  <h2 {{action 'back'}} class='active action button page-header'>Back</h2>
  <h2 {{action 'home'}} class='active action button page-header'>Home</h2>
  <h2 {{action 'current'}} class='inactive action button page-header'>Current</h2>
</div>

<div class='explorer-wrapper'>
  <div class='explorer'>
    {{explorer-entity nodeModel=model nodeIndex=0 isRoot=true}}
  </div>
</div>
