<div class='star-wrapper layer-1-wrapper'>
  <div class='star layer-1'> 
    <div class='planet-wrapper layer-2-wrapper order-8'> 
      <div class='planet planet-8 layer layer-2' {{action 'focus' 'planet' '8' target='view'}}>
        <div class='moon-wrapper layer-3-wrapper order-1'>
          <div class='moon moon-1 layer layer-3'>
          </div>
        </div>
        <div class='moon-wrapper layer-3-wrapper order-2'>
          <div class='moon moon-2 layer layer-3'>
          </div>
        </div>
        <div class='moon-wrapper layer-3-wrapper order-3'>
          <div class='moon moon-3 layer layer-3'>
          </div>
        </div>
        <div class='moon-wrapper layer-3-wrapper order-4'>
          <div class='moon moon-4 layer layer-3'>
          </div>
        </div>
        <div class='moon-wrapper layer-3-wrapper order-5'>
          <div class='moon moon-5 layer layer-3'>
          </div>
        </div>
        <div class='moon-wrapper layer-3-wrapper order-6'>
          <div class='moon moon-6 layer layer-3'>
          </div>
        </div>
        <div class='moon-wrapper layer-3-wrapper order-7'>
          <div class='moon moon-7 layer layer-3'>
          </div>
        </div>
        <div class='moon-wrapper layer-3-wrapper order-8'>
          <div class='moon moon-8 layer layer-3'>
          </div>
        </div>
      </div>                      
    </div>
  </div>
</div>
