{{#link-to 'app.index' tagName='div' class='urgnot flex action nav-item'}}{{/link-to}}
{{#link-to 'app.settings' class='settings nav-item'}}{{/link-to}}
<div class='sign-out nav-item action' {{action 'signOut'}}></div>
